/* style.css */

/* Estilos gerais */
body {
    background-color: #f8f8f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.login-form {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-top: 5px solid #D82148;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.form-control {
    margin-bottom: 15px;
}

.btn-primary {
    width: 100%;
}

.form-message {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    color: red;
    font-size: 14px;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link p {
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

/* Responsividade */
@media (max-width: 576px) {
    .login-form {
        width: 100%;
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
}


